<h2> Add New Contact </h2>
<form style="margin-top :30px" method="post" name="add_contact" action="/new">
  <label for="name">First Name: </label><input type="text" name="name"/></br>
  <label for="l_name">Last Name: </label><input type="text" name="last_name"/></br>
  <label for="phone_number">Phone Number: </label><input type="text" name="phone_number"/></br>
  <input type="submit" value="Submit"/>

</form>
